/* ********************************
** Background
******************************** */
body {
  
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}



/* *****************************
** Heading
***************************** */


h1 {
  text-align: center;
  color: white;
  background-color:black;
  width:fit-content;
  margin:30px auto;
  padding:10px;
}
h5{
  background-color: red;
  width:fit-content;
  font-size: 1.25em;
  color:white;
  position: absolute;
  right:2%;
  top:-5%;
  
}

h5:hover{
  cursor:pointer
}


/* *****************************
** Question
***************************** */


#question{
  width: fit-content;
  height:fit-content;
  color:white;
  border: 3px solid rgb(0,0,0,.5);
  background-color: rgb(0, 0, 0, .5);
  padding:20px;
  font-size:28px;
  margin:50px auto;
  text-align: center;
  font-weight: bold;
}

/* *****************************
** Answers
***************************** */


#answer{
  width: 50%;
  margin: 50px auto;
  color:white;
  border: 3px solid rgb(0,0,0,.5);
  background-color: rgb(0, 0, 0, .5);
  
  padding: 10px
}

#answer li:hover{
  background-color:red;
  cursor:pointer;

}

#answer ul{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin:0;
  padding:0;
}

#answer ul li {
  width: 40%;
  height: 40px;
  background-color: black;
  padding-top: 15px;
  text-align: center;
  margin: 5px;
  font-weight: bolder;
}


/* *****************************
** Score Board
***************************** */

#scores {
  display: flex;
  width:fit-content;
   color:white;
  border: 3px solid rgb(14, 3, 3);
  background-color: rgba(191, 11, 11, 0.913);
  justify-content: center;
  margin: 10px auto;
}

#player1, #player2 {
  width: 40%;
  background-color: rgb(66, 112, 169);
  margin: 5px;
  text-align: center;

}

#player1 h3{
  background-color: green;
}





/* *****************************
** Mobile Design
***************************** */


@media (max-width: 768px){

#answer{
  width:90%;
  display: flex;
  
}
#answer ul{
  display: flex;
  
  margin:auto;
  
}

#answer ul li {
  font-weight: normal;
  width:40%;
  height:fit-content;
}

#answer li:hover{
  background-color: black;
}








}