/* ********************************
** Background
******************************** */
body {
  
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}



/* *****************************
** Heading
***************************** */


h1 {
  text-align: center;
  color: white;
  background-color:black;
  width:fit-content;
  margin:auto;
}



/* *****************************
** Question
***************************** */


#question{
  width: fit-content;
  height:fit-content;
  color:white;
  border: 3px solid rgb(0,0,0,.5);
  background-color: rgb(0, 0, 0, .5);
  padding:20px;
  font-size:28px;
  margin:50px auto;
  text-align: center;
  font-weight: bold;
}

/* *****************************
** Answers
***************************** */


#answer{
  width: 50%;
  margin: 50px auto;
  color:white;
  border: 3px solid rgb(0,0,0,.5);
  background-color: rgb(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px
}

#answer li:hover{
  background-color:red;
  cursor:pointer;

}

#answer ul{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  
}

#answer ul li {
  width: 40%;
  height: 40px;
  background-color: black;
  padding-top: 15px;
  text-align: center;
  margin: 5px;
  font-weight: bolder;
}


/* *****************************
** Score Board
***************************** */

#scores {
  display: flex;
  width:fit-content;
   color:white;
  border: 3px solid rgb(14, 3, 3);
  background-color: rgba(191, 11, 11, 0.913);
  justify-content: center;
  margin: 10px auto;
}

#player1, #player2 {
  width: 40%;
  background-color: rgb(66, 112, 169);
  margin: 5px;
  text-align: center;

}

#player1 h3{
  background-color: green;
}





